.openButton {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #222;
  color: yellow;
  border: 2px solid yellow;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.openButton:hover {
  transform: scale(1.1);
  background-color: yellow;
  color: black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: black;
  color: white;
  padding: 20px;
  border: 2px solid yellow;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.closeButton {
  font-family: 'Press Start 2P', sans-serif;
  background-color: yellow;
  color: black;
  border: 2px solid yellow;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: transform 0.2s;
}

.closeButton:hover {
  transform: scale(1.1);
  background-color: #222;
  color: yellow;
}