@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

/* .App {
    font-family: 'glyphmesss', sans-serif;
    background-color: #eee;
    height: 100vh;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}